DATABASE_URL="postgresql://postgres:password@localhost:5432/tpsonlineclasses?schema=public"
JWT_SECRET="tps_online_classes_super_secret_jwt_key_2099_token"
ADMIN_KEY="TPS2099_DIRECTOR"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
